<html>
    <head>
        <title>Pomogotchi</title>
        <meta content='width=device-width, minimum-scale=1.0, maximum-scale=1.0' name='viewport' />
        <link href='/images/favicon.png' rel='icon' type='image/png' />
        <meta name='description' content="Do you need to focus? Or do you need a distraction? Pomogotchi is both! A pomodoro timer and a virtual pet in one! Pomo sleeps while you work and is ready to play when you have a break." />
        <meta property='og:title' content='Pomogotchi' />
        <meta property='og:description' content="Do you need to focus? Or do you need a distraction? Pomogotchi is both! A pomodoro timer and a virtual pet in one! Pomo sleeps while you work and is ready to play when you have a break." />
        <meta property='og:image' content='<%= ENV['SHARE_URL'] %>' />
        <meta property='og:url' content='https://pomogotchi.littlenebula.com' />
        <meta property='og:type' content='website' />
        <meta content='text/html;charset=UTF-8' http-equiv='Content-type' />
        <style><%= @style %></style>
    </head>
    <body>
        <%= yield %>
        
        <script>window.config = { WORK_SECONDS: <%= ENV['WORK_SECONDS'] %> }</script>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <script><%= @scripts %></script>
    </body>
</html>